$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#authContainer {
  height: 200px;
}

#CMStitle {
  font-size: 50px;
}

#page-header:hover {
  color: #0000FF;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.text-body {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-wrap;
}
